<!DOCTYPE html>
<html>

<head>
  <title>Anish Khanna</title>
    {% load static %}
    <link rel="icon" type="image/jpg" href="{% static 'images/prof%20pic.jpg' %}">
    <link rel="stylesheet" href="{% static 'assets/fontawesome-free-5.2.0-web/css/all.min.css' %}">
    <script src="{% static 'assets/js/lib/plotly-latest.min.js' %}"></script>
    <script src="{% static 'assets/js/lib/jquery-3.3.1.min.js' %}"></script>
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet">
    <script src="{% static 'assets/js/lib/bootstrap.bundle.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="{% static 'assets/js/index.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/index.css' %}">
</head>
    
<body>
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-12 jumbo-text text-center">
                <h1>
                    404 Error, Click the button below to return to my site!
                </h1>
            </div>
        </div>
        <div class="row text-center">
            <a href='/' class='mx-auto'><button type="button" class="btn btn-outline-primary mx-auto">Click Me to Return Home</button></a>
        </div>
    </div>
</body>